html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 20px;
}

.nav {
    padding-top: 20px;
}

.tab-content {
    padding-top: 20px;
}

#view-task-preview rect {
    fill: var(--blue);
}

#view-task-preview .initialOffset, .period, .boundary {
    stroke: black;
    stroke-width: 3px;
}

#view-task-preview  .initialOffset {
    stroke-dasharray: 4;
}
