html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 20px;
}

.nav {
    padding-top: 20px;
}

.tab-content {
    padding-top: 20px;
}

/* Design tab */
#view-task-preview,
#view-task-preview svg,
#view-task-set li,
#view-task-set li svg {
    width: 620px;
    height: 130px;
}

#view-task-preview,
#view-task-set li {
    margin: 20px 0px 20px 0px;
}

#view-task-preview rect,
#view-task-set rect {
    fill: var(--blue);
}

#view-task-preview .initialOffset, .period, .boundary,
#view-task-set .initialOffset, .period, .boundary {
    stroke: black;
    stroke-width: 2px;
}

#view-task-preview .initialOffset,
#view-task-set .initialOffset {
    stroke-dasharray: 4;
}

#view-task-set {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#view-task-set li:hover {
    background-color: whitesmoke;
}

#view-task-set .taskSelected,
#view-task-set li.taskSelected:hover {
    background-color: lightgrey;
}


/* Analyse tab */
#view-schedule rect {
    fill: var(--gray);
}

#view-schedule .initialOffset, .period, .boundary {
    stroke: black;
    stroke-width: 2px;
}

#view-schedule .initialOffset {
    stroke-dasharray: 4;
}

#view-schedule .dependency {
    stroke: var(--red);
    stroke-width: 2px;
    fill: none;
}

#view-schedule .arrowHead {
    fill: var(--red);
}

#view-schedule {
    margin: 0px;
    padding: 0px;
}

#view-schedule-tooltip,
#view-dataflow-tooltip {
    position: absolute;
    z-index: 999;
    visibility: hidden;
    padding: 0px 5px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
}

#view-schedule-tooltip {
    color: var(--blue);
    border-color: var(--blue);
}

#view-dataflow-tooltip {
    color: var(--orange);
    border-color: var(--orange);
}
