html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 20px;
}

.nav {
    padding-top: 20px;
}

.tab-content {
    padding-top: 20px;
}

/* Design tab */
#view-task-define {
    width: 700px;
}

#view-task-preview,
#view-task-preview svg,
#view-task-set li svg {
    width: 640px;
    height: 145px;
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
}

#view-task-preview rect,
#view-task-set rect {
    fill: var(--bs-blue);
}

#view-task-preview .bcet,
#view-task-preview .wcet,
#view-task-set .bcet,
#view-task-set .wcet {
    fill: var(--bs-teal);
}

#view-task-preview .wcet,
#view-task-set .wcet {
    fill-opacity: 0.7;
}

#view-task-preview .initialOffset, .period, .boundary,
#view-task-set .initialOffset, .period, .boundary,
#view-schedule .initialOffset, .period, .boundary {
    stroke: black;
    stroke-width: 2px;
}

#view-task-preview .initialOffset,
#view-task-set .initialOffset,
#view-schedule .initialOffset {
    stroke-dasharray: 4;
}

#view-task-set {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

#view-task-set li {
    float: left;
    clear: both;
}

#view-task-set li svg:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

#view-task-set li.taskSelected svg,
#view-task-set li.taskSelected svg:hover {
    background-color: lightgrey;
}

#view-system-inputs,
#view-system-outputs,
#view-task-dependencies,
#view-analyse-constraints,
#view-analyse-event-chains {
    display: inline-block;
}

#view-system-inputs li,
#view-system-outputs li,
#view-task-dependencies li,
#view-analyse-constraints li,
#view-analyse-event-chains li {
    float: left;
    clear: both;
    cursor: pointer;
}

#view-system-inputs li span,
#view-system-outputs li span,
#view-task-dependencies li span,
#view-analyse-constraints li span,
#view-analyse-event-chains li span {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
}

#view-system-inputs li span:hover,
#view-system-outputs li span:hover,
#view-task-dependencies li span:hover,
#view-analyse-constraints li span:hover,
#view-analyse-event-chains li span:hover {
    background-color: whitesmoke;
}

#view-system-inputs li.systemPortSelected span,
#view-system-inputs li.systemPortSelected span:hover,
#view-system-outputs li.systemPortSelected span,
#view-system-outputs li.systemPortSelected span:hover,
#view-task-dependencies li.dependencySelected span,
#view-task-dependencies li.dependencySelected span:hover,
#view-analyse-constraints li.constraintSelected span,
#view-analyse-constraints li.constraintSelected span:hover,
#view-analyse-event-chains li.eventChainSelected span,
#view-analyse-event-chains li.eventChainSelected span:hover {
    background-color: lightgrey;
}

#view-system-inputs li .delete,
#view-system-outputs li .delete,
#view-task-set li .delete,
#view-task-dependencies li .delete,
#view-analyse-constraints li .delete,
#view-analyse-event-chains li .delete {
    visibility: hidden;
}

#view-system-inputs li:hover .delete,
#view-system-outputs li:hover .delete,
#view-task-set li:hover .delete,
#view-task-dependencies li:hover .delete,
#view-analyse-constraints li:hover .delete,
#view-analyse-event-chains li:hover .delete {
    visibility: visible;
}


/* Analyse tab */
#view-schedule-dependencies .dropdown-item {
    cursor: default;
}

#view-schedule-event-chains-instance input {
    height: 38px;
    padding: 0 10px;
}

#view-schedule rect {
    fill: lightgrey;
    cursor: pointer;
}

#view-schedule rect:hover {
    fill: var(--bs-blue);
}

#view-schedule .time {
    fill: gray;
}

#view-schedule .time:hover {
    fill: black;
}

#view-schedule .dependency {
    fill: none;
    cursor: pointer;
}

#view-schedule path.dependencyVisible {
    stroke: var(--bs-red);
    stroke-width: 2px;
    marker-end: url(#arrowRed);
    visibility: visible;
}

#view-schedule path.dependencyVisible:hover {
    stroke: var(--bs-orange);
    marker-end: url(#arrowOrange);
}

#view-schedule path.dependencyHidden {
    visibility: hidden;
}

#view-schedule path.eventChainVisible {
    stroke: var(--bs-blue);
    stroke-width: 5px;
    marker-end: url(#arrowBlue);
    visibility: visible;
}

#view-schedule-svg-defs {
    height: 0px;
    width: 0px;
}

#view-schedule-svg-defs .arrowHeadOrange {
    fill: var(--bs-orange);
}

#view-schedule-svg-defs .arrowHeadRed {
    fill: var(--bs-red);
}

#view-schedule-svg-defs .arrowHeadBlue {
    fill: var(--bs-blue);
}

#view-schedule {
    margin: 0px;
    padding: 0px;
}

#view-schedule-task-tooltip,
#view-schedule-dependency-tooltip {
    position: absolute;
    z-index: 999;
    visibility: hidden;
    padding: 0px 5px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
}

#view-schedule-task-tooltip {
    color: var(--bs-blue);
    border-color: var(--bs-blue);
}

#view-schedule-dependency-tooltip {
    color: var(--bs-orange);
    border-color: var(--bs-orange);
}
